.my-profil{
    margin-top: 5.2rem;
}

.up-form-profil {
   display: flex;
    justify-content: space-between;
}

.img-form{
    width: 13rem;
    height: 13rem;
    border: 2px solid #CD6602;
    border-radius: 50%;
}

.top-my-profil {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    height: 50vh;
    align-items: center;
    position: relative;   
    margin-bottom: 25px; 
}

.top-title-my-profil {
    position: absolute;
    top: 2rem;
    left: 7rem;
    background-color: rgba(0,0,0, 0.67);
    width: 40%; height: 35%;
}

.title-profil{
    border: 4px solid #CD6602;
    padding: 1.2rem 3rem;
    text-align: center;
    font-size: 1.3rem;
    max-width: max-content;
    margin: auto;
    border-radius: 30px;
}

.text-form-profil{
    max-width: 100%;
    text-align: center;
}
 
form {
    max-width: 1200px;
    width:100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 5%;
    /*border: 3px solid #CD6602;*/
    border-radius: 10px;
    /*-webkit-box-shadow: 0 0 10px gray;
    box-shadow: 2px 2px 10px gray;*/
}

.input-fieled-profil{
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.input-fieled-profil label {
    font-size: 1.5rem;
    color: #000;
    width: 400px;
    margin-right: 30px;
}

form input {
    width: 100%;
    border: 2px solid #CD6602;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 1.3rem;
    background-color: #F5F5F5;
}

form select {
    width: 100%;
    border: 2px solid #CD6602;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 1.3rem;
}

.button-submit-profil{
    width: 50%;
    padding: 2%;
    background-color: #000;
    color:#CC935C;
    -webkit-box-shadow: 0 0 10px gray;
    box-shadow: 2px 2px 10px gray;
    margin-left: 25%; margin-top: 2%;
    cursor: pointer;
    border: 2px solid #000;
}

.button-submit-profil:hover{
    color: #000;
    background-color:#CC935C;
}

.button-submit-profil:active{
    opacity: 0.4;
}

@media (max-width: 850px) {
    form {
        max-width: 90%;
    }

    form input {
        font-size: 1rem;
    }

    .title-profil{
        max-width: 60%;
    }

    .text-form-profil{
        text-align: center;
        margin: 0;
    }

    .input-fieled-profil label {
        font-size: 1.2rem;
        color: #000;
        width: 300px;
        margin-right: 20px;
    }
}