body {
  margin-left: 5%;
  margin-right: 5%;
}
#div01 {
  background-image: url("inside.png");
  background-size: 100% 100%;
  height: 300px;
}
#div01 article {
  text-align: left;
  padding-left: 2.5%;
  width: 30%;
  height: 100px;
  margin-left: 10%;
  background-color: black;
  opacity: 0.7;
}
h2 {
  color: #ebb683;
}
h3 {
  color: white;
}
#buttons {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-top: 20px;
  margin-left: 40%;
  height: 50px;
}
#connecter {
  background-color: black;
}
#inscrire {
  background-color: #cc935c;
  border: solid #cc935c 1px;
}
button {
  color: white;
  width: 50%;
  font-size: 16px;
  cursor: pointer;
}
#login_signin {
  margin-left: 15%;
  margin-right: 15%;
  background-color: #d9d9d9;
  padding-top: 30px;
}
#login_signin form {
  display: flex;
  flex-direction: column;
}
#login_signin input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 17px;
  padding-left: 30px;
  margin-bottom: 15px;
  margin-left: 5%;
  border: #d9d9d9 solid 1px;
  border-radius: 5px;
  margin-right: 5%;
  height: 45px;
}
#did {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
}
#did a {
  text-decoration: none;
  font-weight: bold;
  color: #cc935c;
}
#did label {
  margin-left: 10px;
  color: grey;
}
#validate {
  width: 40%;
  margin-left: 28%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  color: white;
  background-color: #cc935c;
  border: #cc935c solid 2px;
  border-radius: 7px;
  font-size: 17px;
}
#did a:hover {
  text-decoration: underline;
}
#validate:hover {
  color: #cc935c;
  background-color: black;
  cursor: pointer;
  border-color: black;
}
@media screen and (max-width: 640px) and (min-width: 320px) {
  #div01 {
    background-image: none;
    height: 120px;
  }
  #div01 article {
    width: 80%;
    text-align: center;
  }

  #buttons {
    width: 70%;
    margin-left: 15%;
  }

  #login_signin {
    width: 100%;
    margin: 0;
  }

  /* #validate {
    width: 25%;
    height: 52px;
    margin-left: 37.5%;
  } */
}
@media screen and (min-width: 641px) and (max-width: 1000px) {
  /* #div01 {
    height: 520px;
  }
} */

  #buttons {
    width: 50%;
    margin-left: 25%;
  }
}
