.container-my-ads {
    margin-top: 5.2rem;
}

.top-my-ads {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    height: 50vh;
    align-items: center;
    position: relative;    
}

.top-title-my-ads {
    position: absolute;
    top: 2rem;
    left: 7rem;
    background-color: rgba(0,0,0, 0.67);
    width: 40%; height: 35%;
}

.top-title-my-ads h1{
    color: #EBB683;
    padding: .3rem 1.4rem;
}

.up-info-ac {
    color: #000;
}

.top-title-my-ads h2{
    color: #fff;
    padding: .3rem 1.4rem;
    font-size: 1.5rem;
}

.photo-my-ads {
    flex-basis: 35%;
    text-align: center;
}

.photo-my-ads img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 1px solid #000;
}

.ads-div-my-ads h2{
    border: 2px solid #CD6602;
    padding: 1.2rem 3rem;
    text-align: center;
    font-size: 2.7rem;
    max-width: max-content;
    margin: auto;
    border-radius: 30px;
    margin-top: 5%;
}

.ads-div-my-ads h2 span {
    color:#CD6602;
}

.list-ads-my-ads {
    display: grid;
    grid-template-columns: repeat(auto-fill, 23rem);
    gap: 3rem;
    margin: 40px 0px;
    flex-wrap: wrap;    justify-content: center;
}