.App {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  padding: 20px;

}

.post_line{
  overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center;
     
}
.nav-items {
  list-style:none;
  display:flex;
  align-items: center;
  width:50%;
  text-align: auto;
}
header{
  margin:0;
  font-family : Inter, sans-serif ;
  margin-bottom: 20px;
}
* {
  box-sizing:border-box;
}
nav{
  display:flex;
  align-items:center;
  height: 90px;
  padding-top:5px ;
  padding-right :20px;
  background-color:#21222A;
  width:150%;
 
}
.nav-items > li {
  padding :10px;
  font-size: 20px;
}
.nav-logo{
  width:80px;
  height:80px;
}
nav > ul > li > h3  {
  margin-right : auto;
  color:#61DAFB;
  font-weight: 700;
}
nav > ul > li > h4 {
  margin-right : auto;
  color:#61DAFB;
  font-weight: 600;
}
nav > img {
  height:30px;
  width:30px;
  margin-right:7px;
  margin-bottom:20px;
}
/**********test component**********/
.state{
  background-color:aquamarine;
  width:50%;
}
.item{
  background-color:rgb(203, 203, 203);
  width:50%;
}
.state-img{
  background-color: rgb(209, 162, 162);
}
.my-form{
  background-color:rgb(48, 59, 89);
  margin:10px;
  padding:10px;
  border-radius:10px;
  display: inline-block;
  align-items:center;
}
.my-form > div {
  width:fit-content;

  margin-top:10px;
  margin-bottom: 10px;
  background-color: rgb(169, 169, 169);
  padding:5px;
  border-radius: 10px;
}
.LearnEffects {
  background-color: #4d5487;
  width:fit-content;
  border-radius: 10px;
}
.LearnEffects > button {
  width:100px;
  height:30px;
}
